<div class="container">
 <div class="table-responsive">          
  <table class="table table-dark table-hover ">
    <thead>
      <tr>
        <th>Bet Title</th>
        <th>Bet Amount</th>
        <th>Time Created</th>  
      </tr>
    </thead>
{{#each this.betList key = 'index' as |betList|}}
    <tbody>
      <tr>
        <td> {{betList.betData.betTitle}}</td>
        <td>$ {{betList.betData.betAmount}}.00</td>
        <td>{{betList.betData.betParticipants.0.userData.userTime}}</td>
          <th>
            <button class="btn btn-success" onclick={{fn redirectToIndiv betList.betID}}>
              {{if (eq @model.username betList.betData.betAdmin) "Resolve" "Join"}}
            </button>
          </th>
      </tr>
    </tbody>
{{/each}}
  </table>
  </div>
</div>
