

<div class= "main_bet_page">

{{#if this.getDisplay}}
    <h1 class = "create_bet" > Create a Bet</h1>

        <table class ="bet_input_field_table">
            <tr>
            <td>
                <label for="name"><b>Bet Title</b></label>
                <input 
                    id = "bet_title"
                    type = "string"
                    value = {{currentBetTitleValue}}
                    oninput = {{action inputBetTitleValue}}
                >
            </td>
            </tr>

            <tr>
            <td>
                <label for="name"><b>Amount</b></label>
                <input 
                    id = "bet_amount"
                    type = "number"
                    value = {{currentBetAmountValue}}
                    oninput = {{action inputBetAmountValue}}
                >
                {{#unless this.validAmount}}
                    <p>Invalid amount.</p>
                {{/unless}}
            </td>
            </tr>

            <tr>
            <td><br>
                <label><b>Description of Bet</b></label> <br><br>
                <textarea 
                    class = "bet_detail_input" 
                    id = "bet_description"
                    type = "text"
                    value = {{currentBetDescriptionValue}}
                    oninput = {{action inputBetDescriptionValue}}
                />
                    
            </td>
            </tr>
        </table> <br>

            {{!-- <input 
                type="radio" 
                name="betside"   
                onclick={{action (mut betAgainst) true}}>
            <label>Bet For</label>
            <input 
                type="radio" 
                name="betside"  
                onclick={{action (mut betAgainst) false}}>
            <label>Bet Against</label> <br> --}}

    <button 
        class = "create_bet_button"
        onclick = {{
            action
            createBet
                currentBetTitleValue
                currentBetAmountValue 
                currentBetDescriptionValue
                betSide
        }}>
        Create Bet</button>

{{else}}
   

    {{#if this.Admin}}
        <h2 class = "display_individual_bet" >{{this.individualBet.betData.betTitle}}</h2>
        {{else}}
            <h2 class = "display_individual_bet" > {{individualBet.betData.betAdmin}}'s Bet</h2>

    {{/if}}

        <div class = "bet_info">
            <h3>Current bet Amount : $ {{individualBet.betData.betAmount}}.00 </h3>
            <h4> Description: <br><br> <p>{{individualBet.betData.betDetail}}</p></h4>
        </div>

<table class = "bet_participant_table">    

    {{#if betResolution}}
                <tr>
                <th></th>
                 <th>Whose in on this Bet</th>
                 <th>Date Joined</th>
                 <th>Bet Standing</th>
                </tr>
        {{#each individualBet.betData.betParticipants key = "index" as |nameList index| }}
            {{#if (not-eq index 0)}}
                <tr>
                 <td>
                     <AddFriend 
                     @model={{@model}}
                     @userReqReceiver = {{nameList.userData.userName}}
                    />
                </td>  
                <td>{{nameList.userData.userName}}</td>
                <td>{{nameList.userData.userTime}}</td>
                <td>{{#if nameList.userData.betSide }} Betting For
                    {{else}} Betting Against {{/if}}
                </td>
                </tr>
            {{/if}}     
        {{/each}}
    
    {{else}}
                <tr>
                <th>Whose in on this Bet</th>
                <th>Outcome</th>
                </tr>
            {{#each individualBet.betData.betParticipants key = "index" as |nameList index| }}
                <tr>
                <td>{{nameList.userData.userName}}</td>
                <td>
                    {{#if nameList.userData.betSide }} Winner
                    {{else}} Loser {{/if}}
                </td>
                </tr>      
            {{/each}}
            
    {{/if}}


</table>
<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="Bet Against me on BetYa!" data-url="http://localhost:4200/" data-hashtags="BetYa" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<br><br><br><br>
        
    {{#if (eq @model.username individualBet.betData.betAdmin)}}
                {{!-- {{#if betResolution}}
                <button class = "button_resolve" onclick={{action this.changeAdminResolvedBet}}> Bet Resolve</button>
                <button class = "button_resolve"> Bet Unresolved</button>
                {{else}}
                <h3 class = "bet_resolved_text"> Bet Resolved</h3>
                {{/if}} --}}

                {{!-- You can remove these 2 buttons --}}
                <button>Resolve</button>
                <button>Unresolve</button>
                {{!-- You can remove these 2 buttons --}}
    {{else}}
            <input 
                type="radio"
                name="betside"  
                onclick={{action (mut betAgainst) true}}>
            <label>Bet For</label>
            <input 
                type="radio" 
                name="betside"  
                onclick={{action (mut betAgainst) false}}>
            <label>Bet Against</label> <br>
            
            <button 
                class = "button_resolve"  
                onclick = {{ action joinBet}}>
                Join Bet</button>        
    {{/if}}
{{/if}}
</div>
