<div class="welcome">
    <h1>Welcome to UBetcha</h1>
</div>
<div class="suli_box">
    <h1 class="suli">Login</h1>
    <div class="input_box">       
        <input type="text" placeholder="Username" class="suli_input" value={{userName}} onchange={{action getUsername}}>
        <i class="icon fa fa-user"></i>
    </div>
    <div class="input_box">        
        <input type="password" placeholder="Password" class="suli_input" value={{userPass}} onchange={{action getUserpass}}>
        <i class="icon fa fa-lock"></i>  
    </div>  
    
    <button type="submit" class="suli_btn" onclick={{action checkInfo}}>Log In</button>
    <div class="sign_up">
        <p class="suli_para">Not a member? <LinkTo class="suli_link" @route="signup">Sign up now!</LinkTo></p>
    </div>
</div>
<div class="alert {{alert status}}">
    <div class="message">
        <i class="fa fa-exclamation-circle"></i>
        {{message}}
        <span class="close_Btn"onclick={{action dismissAlert}}><i class="fa fa-times"></i></span>
    </div>
</div>

<div>
    <img  class="tom" src="/assets/images/tom.png">
</div>
