<div>
    <Navbar
        @changePage={{this.navigateTo}}
        @betInfoHandler={{this.betInfoHandler}}
    />
    <button onclick={{this.logOut}}>LogOut</button>

</div>


{{#if this.isProfilePage}}
    <div class = 'left'>
    <ProfilePage 
        @model={{@model}}
        @changePage={{this.navigateTo}}
        @betInfoHandler={{this.betInfoHandler}}
    />
    </div>

    <div class = 'right'>
    <FriendsList/>
    <AddFriend/>
    </div>
    
{{/if}}

{{#if this.isCreateBetPage}}
    <div class = 'left'>
    <IndividualBet 
        @model={{@model}}
        @betId={{this.betID}}
    />
    </div>

    <div class = 'right'>
    <FriendsList/>
    <AddFriend/>
    </div>
    
{{/if}}

{{#if this.isSignUpPage}}
    <SignUp
        @model={{@model}}
    />
{{/if}}