<div>
    <button onclick={{fn this.navigateTo "profile"}}>Profile Page</button>
    <button onclick={{fn this.navigateTo "profilePage"}}>Bet Page</button>
    <button onclick={{fn this.navigateTo "History"}}>History Page</button>
        <button onclick={{this.logOut}}>LogOut</button>

</div>


{{#if this.isProfilePage}}
    <ProfilePage
        @model={{@model}}
    />
{{/if}}