<nav class="topnav">
    <button class="btnHeader" onclick={{redirectToActiveBetsPage}}>UBetcha</button> <!-- Header button links to Active Bets Page-->
    <button class="btnHome" onclick={{redirectToActiveBetsPage}}>Home</button> <!-- Home button links to Active Bets Page-->
    <button class="btnProfile" onclick={{redirectToProfilePage}}>Profile</button>
    <button class="btnCreateBet" onclick={{redirectToCreateBetPage}}>Create Bet</button>
    <button class="btnSignOut" onclick={{logOut}}>Sign out</button> <!-- Sign out button links to Profile Page-->
</nav>
