<div class = 'left'>
    <Profile 
        @model={{@model}}
        @changePage={{@changePage}}
        @betInfoHandler={{@betInfoHandler}}
    />
    
    <BetsUserCreated 
        @model={{@model}}
        @changePage={{@changePage}}
        @betInfoHandler={{@betInfoHandler}}
        />

        <div>
    <FriendsList
    @model={{@model}}
    />
</div>

<div>
    <AddFriend
    
    @model={{@model}}
    />
</div>

</div>



