<div class = 'left'>
    <p>{{@model.username}}'s Profile Page</p>
    <p>Your are {{@model.age}} years old</p>
    <Profile 
        @model={{@model}}
        @changePage={{@changePage}}
        @betInfoHandler={{@betInfoHandler}}
    />
    
    <BetsUserCreated 
        @model={{@model}}
        @changePage={{@changePage}}
        @betInfoHandler={{@betInfoHandler}}
    />
</div>
