<div class = "container justify-content-center">
    <Profile 
        @model={{@model}}
        @changePage={{@changePage}}
        @betInfoHandler={{@betInfoHandler}}
    />
    <br>
    <BetsUserCreated 
        @model={{@model}}
        @changePage={{@changePage}}
        @betInfoHandler={{@betInfoHandler}}
        />

        <div>
  
</div>


</div>



