<div class = 'left'>
    <Profile 
        @model={{@model}}
        @changePage={{@changePage}}
        @betInfoHandler={{@betInfoHandler}}
    />
    
    <BetsUserCreated 
        @model={{@model}}
        @changePage={{@changePage}}
        @betInfoHandler={{@betInfoHandler}}
        />

        <div>
  
</div>


</div>



